<router-outlet></router-outlet>

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <header>
        <div class="superior-izquierdo">
            <div>
                <img src="../assets/imagenes/c1-Fisi.png" alt="Fisi">
            </div>
            <h2>Sistema de Gestión de Actividades</h2>
        </div>
        <div class="superior-derecha">
            <h2>Administrador</h2>
            <div>
                <img src="../assets/imagenes/c1-Perfil1.png" alt="Perfil">
            </div>
        </div>
    </header>
    <main>  
        <article>
            <div class="listas">
                <a routerLink="/profesor" >Registrar Docentes <img src="../assets/imagenes/Registrar-docente.png" alt="Docentes"></a> 
            </div>
            <div class="listas">
                <a routerLink="/alumno">Registrar Alumnos <img src="../assets/imagenes/Registrar-alumno.png" alt="Alumnos"></a>
            </div>
            <div class="listas">
                <a routerLink="/curso">Registrar Cursos <img src="../assets/imagenes/Registrar-curso.png" alt="Cursos"></a>
            </div>
            <div class="listas">
                <a routerLink="/matricula">Matricular<img src="../assets/imagenes/Registrar-docente.png" alt="Cursos"></a>
            </div>
            <!-- <div class="listas4">
                <div>
                    <label>Listar Registro</label><img src="../../imagenes/Listar.png" alt="Lista">
                </div>
                <form action="">
                    <label>Elige una opcion:</label>
                    <select name="idioma" id="">
                        <option value="doc" >Docentes</option>
                        <option value="alu">Alumnos</option>
                        <option value="cur" selected>Cursos</option>
                    </select>
                    <input type="submit">
                </form>
            </div>   -->
        </article>
    </main>
    <footer>
        <h3>Facultad de Ingeniería de Sistemas e Informática - Proyecto</h3>
    </footer>
</body>
</html>