<div class="container mt-5">
    <div class="row">
        <div class="col-lg-5 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">{{titulo | uppercase}}</span>
                    <form class="mt-4" [formGroup]="matriculaForm" (ngSubmit)="agregarMatricula()">
                        <div class="mb-3">
                            <input type="text" formControlName="codigo" class="form-control form-control-lg" placeholder="Código">
                        </div>
                        <div class="mb-3">
                            <select class="form-control" formControlName="idAlumno">
                                <option *ngFor="let alumno of listAlumnos">{{alumno.codigo}}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-control" formControlName="idCurso">
                                <option *ngFor="let curso of listCursos">{{curso.nombre}}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <select class="form-control" formControlName="idProfesor">
                                <option *ngFor="let profesor of listProfesores">{{profesor.codigo}}</option>
                            </select>
                        </div>
                        <div class="mb=3">
                            <button routerLink="/matricula" class="btn btn-secondary btn-lg float-start">ATRAS</button>
                            <button type="submit" [disabled]="matriculaForm.invalid" class="btn btn-success btn-lg float-end">ACEPTAR</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>